* {
    margin: auto;
    padding: 0px;
    font-family: fantasy; 
}

.banner {
    margin: 0px;
    text-align: center;
    font-size: 30px;
    color: gold; 
}

#container {
    justify-content: center;
    height: 0; 
    width: 100%;
    display: grid; 
}

.row {
    display: flex; 
    margin: auto; 
    justify-content: center;
}

.box {
    width: 10px;
    height: 10px;
    flex: 1 1 0;
    border: 1px solid red; 
}

.box:hover {
    background-color: black;
}