* {
    margin: auto;
    padding: 0px;
    font-family: fantasy; 
}

.banner {
    margin: 0px;
    text-align: center;
    font-size: 30px;
    color: gold; 
}

#container {
    justify-content: center;
    height: 500px; 
    width: 500px;
    display: grid; 
    border: 4px solid black; 
}

.row {
    display: flex; 
    margin: auto; 
    justify-content: center;
}

.box {
    border: 0.5px solid grey;
    flex: 1 1 0;
}

.box:hover {
    background-color: black;
}