* {
    margin: auto;
    padding: 0px;
    font-family: sans-serif; 
}

.banner {
    margin: 0px;
    text-align: center;
    font-size: 50px;
    color: black; 
}

#container {
    justify-content: center;
    height: 500px; 
    width:  500px;
    display: grid; 
    border: 2px solid black; 
}

.game {
    align-items: center;
    width: 500px; 
    display: flex; 
}

.row {
    display: flex; 
    margin: auto; 
    justify-content: center;
}

.box {
    flex: 1 1 0; 
}

.box:hover {
    background-color: black;
}

button {
    height: 50px; 
    width: 50px; 
    border-radius: 50px;
    font-size: 10px; 
    /*margin: 50px  500px; */
}